// $c-main: #88CCF1; //important stuff
// $c-second:#C1DFF0;
// $c-main: #FFA9A3; //important stuff
// $c-second:#5C95FF;
// Bubblegum
// $c-main: #FFA9A3; //important stuff
// $c-second:#5C95FF;
// $c-third: #eeee;
// Classic
$c-main: #ff8552; //important stuff
$c-second:#297373;
$c-third: #eee;
$c-background: white;
