$c-base__03: #0D2B35;
$c-base__02: #297373; //body color
$c-base__01: #5C6E74;
$c-base__00: #697B82;
$c-base__0: #869395;
$c-base__1: #96A0A0;
$c-base__2: #EDE7D6;
$c-base__3: #FCF5E4;

$c-accent__blue: #FF8552; //important stuff
$c-accent__darkblue: #297373;
$c-accent__green: #DAD2BC;

// Breakpoints
$bp__sm: 45rem; // 450px

// Misc
$m-border: 1px solid $c-base__2;

a.booklist {
	margin-bottom: 30px;

    &::after {
    background-color: $c-accent__green;
    margin-bottom: 12px;
	}

	&:hover {
		&::after {
      height: 65%;

		}
	}
}
a {
    box-shadow: none;
    color: $c-accent__blue;
    background-color: transparent;
    text-decoration: none;

    position: relative;
    display: inline-block;
    padding: 5px 1px;
    transition: color ease 0.3s;

    /* Hover animation effect for all buttons */
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 0;
      left: 0;
      bottom: 0;
      background-color: $c-accent__blue;
      transition: all ease 0.1s;
    }

    &:hover {
      color: white;
      &::after {
        height: 100%;
      }
    }

}

/* Override hover animation with no-hov class */
a.no-hov {
	&:after {
		content: none
	}

	&:hover {
		color: $c-accent__darkblue
	}
}

a.nav {
  padding: 10px 35px;
  overflow:hidden;
}
a.nav:before {
    font-family: FontAwesome;
    content:"\f07a";
    position: absolute;
    top: 11px;
    left: -30px;
    transition: all 200ms ease;
}

.covid-link {
  margin: 0;
    padding: 0.25em 0.25em 0.5em 0.25em;
    color: pink;
    font-style: bold;
    font-size: 5em;
    font-family: "Helvetica", sans-serif;
    background-color: none !important;
    border: 7px solid pink;
    line-height: 1em;
    &:hover {
      color: pink;
      text-decoration: underline;
    }
    &:hover::after {
      height: 0;
    }
}