$c-base__03: #0D2B35;
$c-base__02: #297373; //body color
$c-base__01: #5C6E74;
$c-base__00: #697B82;
$c-base__0: #869395;
$c-base__1: #96A0A0;
$c-base__2: #EDE7D6;
$c-base__3: #FCF5E4;

$c-accent__blue: #FF8552; //important stuff
$c-accent__darkblue: #297373;
$c-accent__green: #DAD2BC;

// Breakpoints
$bp__sm: 45rem; // 450px

// Misc
$m-border: 1px solid $c-base__2;

.textBody hr {
  margin-bottom: 25px;
}

.textBody ul, li {
  margin-left: 1.2rem;
  line-height: 1.5;
  font-size: 18px;
}

.textBody ul, ol {
  margin-bottom: 20px;
}

.textBody {
  font-family: 'Roboto';
  margin-bottom: 3rem;
  color: #297373;
}

.textBody p {
  font-family: 'Roboto';
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 20px;
}

.textBody h1, h2, h3 {
  font-family: 'Roboto';
  margin-bottom: 20px;
}

.textBody h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
  color: #297373;
  font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

h1 {
  font-weight: 400;
  color: $c-accent__blue;
}

h3 {
  font-weight: lighter;
}

h3 a, h3 small {
  font-weight: 400;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: 'Roboto';

    font-weight: 400;
}

input {
  -webkit-transition: font-size 0.05s;
  /* For Safari 3.1 to 6.0 */
  transition: font-size 0.05s;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  border: none;
  font-size: 2em;
  border-bottom: 1px solid $c-base__02;
  color: $c-accent__blue;
  &#home {
    background: rgba(76, 175, 80, 0);
    font-size: 2em;
  }
  &#book-list {
    background: rgba(76, 175, 80, 0);
    font-size: 1em;
  }
  margin-bottom: 15px;
  width: 100%;
  outline: none;
}

input:focus {
  &#home {
    font-size: 3em;
  }
  &#book-list {
    font-size: 2em;
  }
}

input::placeholder {
  color: lightgrey;
}
