@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

$c-base__03: #0D2B35;
$c-base__02: #297373; //body color
$c-base__01: #5C6E74;
$c-base__00: #697B82;
$c-base__0: #869395;
$c-base__1: #96A0A0;
$c-base__2: #EDE7D6;
$c-base__3: #FCF5E4;

$c-accent__blue: #FF8552; //important stuff
$c-accent__darkblue: #297373;
$c-accent__green: #DAD2BC;

// Breakpoints
$bp__sm: 45rem; // 450px

// Misc
$m-border: 1px solid $c-base__2;

.booklist img {
  width: 10px;
}

.book {
  list-style-position: outside;
}

.book::before {
  margin-top: -35px;
  display: block;
  padding-top: 35px;
}

.anchor {
  float: left;
  padding-right: 4px;
  margin-left: -25px;
  opacity: 0;
  &:hover {
    opacity: 1;
    display: block;
    color: $c-accent__darkblue;
    text-decoration: underline;

    &::after {
      height: 0;
    }
  }

}

.anchor svg {
  fill: $c-accent__blue;
}

::selection {
  background-color: rgba(255, 134, 82, 0.5);
}

svg {
  height: 20px;
  width: 20px;
  transition: fill 0.2s;
  fill: lightgrey;
  &:hover {
    fill: #FF8552;
  }
}


.roboto {
  font-family: 'Roboto', sans-serif
}
/* Custom Colors */
.faded-orange {
  color: #FF8552;
}

.faded-blue {
  color: #297373;
}

.faded-brown {
  color: #DAD2BC;
}


.textBody hr {
  margin-bottom: 25px;
}

.textBody li {
  margin-left: 1.2rem;
  line-height: 1.5;
}

.textBody ul,
ol {
  margin-bottom: 20px;
}

.textBody {
  line-height: 1.5;
  font-family: 'Roboto';
  margin-bottom: 3rem;
  color: #297373;
  font-size: 1.125rem;
}

.booklist {
  font-size: 5em;
}

@media only screen and (max-width: 768px) {
  .textBody {
    font-size: 1rem;
  }
  .booklist {
    font-size: 4em;
  }
}

.textBody .academic p {
  font-family: serif;
  font-size: 1em;
  line-height: 1.75em;
  color: black;
  background-color: transparent;
}

.textBody p {
  font-family: 'Roboto';
  margin-bottom: 20px;
}

.textBody h1,
h2,
h3 {
  font-family: 'Roboto';
  margin-bottom: 20px;
}

.textBody h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto';
  color: #297373;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-weight: 400;
  color: $c-accent__blue;
}

h3 {
  font-weight: lighter;
}

h3 a,
h3 small {
  font-weight: 400;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: 'Roboto';
  font-weight: 400;
}

input {
  /* For Safari 3.1 to 6.0 */
  transition: font-size 0.05s;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 0;
  color: $c-base__02;
  border-color: $c-accent__blue;
  width: 100%;
  outline: none;
  background: white;
  z-index: 100;
  box-sizing: border-box;
  -webkit-appearance: none;
  box-shadow: none;
  line-height: normal;
  &:focus {
    box-shadow: 0 0 0 1px $c-accent__blue;
  }
}

button {
  font-family: Helvetica, sans-serif;
  color: $c-base__02;
  padding: 5px;
  background: none;
  border: 1px solid $c-base__02;
  outline: none;
  border-color: $c-accent__blue;
  box-shadow: none;
  transition: background 0.2s;
  
  &:active {
    box-shadow: 0 0 0 1px $c-accent__blue;
  }
  &:hover {
    background-color: rgba(255, 134, 82, 0.25);
  }
}

#loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1.5px solid $c-accent__darkblue;
  border-radius: 50%;
  border-top-color: rgba(255, 255, 255, 0);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

input:hover {
  border-color: $c-accent__blue;
}

input::placeholder {
  color: $c-accent__blue;
}

input.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

input::placeholder {
  color: $c-base__02;
  opacity: 0.7;
}


.profile {
  width: 23vh;
  float: right;
  margin-right: 0px;
  margin-left: 50px;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.8rem; // 18px
  border-left: 5px solid #ccc;
}


@media screen and (max-width: 565px) {
  .profile {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .post-date {
    display: none;
  }

  .post-date-small {
    display: block;
  }
}

@media screen and (min-width: 565px) {
  .post-date {
    display: block;
  }

  .post-date-small {
    display: none;
  }

}

hr {
  border: 1px solid rgba(41, 115, 115, 0.25);
}

// Mother's Day

$color-0: #bc0e92;
$color-1: #b12da0;
$color-2: #a73dad;
$color-3: #9c4ab8;
$color-4: #9154c1;
$color-5: #855cca;
$color-6: #7964d3;
$color-7: #6c6bdb;
$color-8: #5d71e2;

.animation-color-pulse {
  animation-name: color;
  animation-direction: normal;
  animation-duration: 12500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.full {
  z-index:10;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    /* Firefox */
    -webkit-animation: fadein 3s;
    /* Safari and Chrome */
    -o-animation: fadein 3s;
    /* Opera */
  img {
    width: 23vw;
    min-width: 250px;
  }
}

.layered-shadow {
  font-family: "futura next",
    futura,
    sans-serif;
  font-size: 23px;
  font-weight: 800;

  text-shadow:
    3px -3px 0 #1bc7db,
    -3px -0px 0 #E086D3,
    0 3px 0 transparent
}

.shadow {
  font-family: "avenir next",
    avenir,
    sans-serif;
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow:
    -1px -1px 0 #E086D3,
    1px -1px 0 #E086D3,
    -1px 1px 0 #E086D3,
    1px 1px 0 #E086D3,
    4px 4px 0 #FFF3F0,
    5px 5px 0 #FFF3F0,
    6px 6px 0 #FFF3F0,
    7px 7px 0 #FFF3F0,
    8px 8px 0 #FFF3F0,
    9px 9px 0 #FFF3F0;
  color: #FFF3F0;
  background: #E086D3;
}
.paragraph {
  box-sizing: content-box;
  font-weight: 400;
  font-size: 23px;
  font-stretch: semi-condensed;
  font-style: oblique;
  font-family: "futura next",
  futura,
  sans-serif;
  text-align: left;
  writing-mode: initial;
  text-shadow: #1bc7db 0px 3px 2px;
  color: black;
  background-color: white;
  max-width: 34em;
  letter-spacing: 0em;
  text-decoration-color: $color-4;
  text-decoration-line: none;
  text-decoration-style: double;
  line-height: 1.25;
}

@keyframes color {
  0% {
    background-color: $color-3
  }

  63% {
    background-color: $color-8
  }

  100% {
    background-color: $color-3
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}